<section class="container-fluid">
    <div class="row">
      <div class="col-4 text-center">
        <h5>{{playlists.tituloPlaylist}}</h5>
        <div class="cover-image">
            <i class="fas fa-music fa-9x"></i>
        </div>
        <button class="btn btn-success"type="button">Play</button>
      </div>
      <div class="col-8">
        
        <!--Item 1 -->
        <div class="row song-item" *ngFor="let cancion of playlists.canciones">
          <div class="col-1"><i class="fas fa-play"></i></div>
          <div class="col-10">
            <div class="song-title">{{cancion.nombreCancion}}</div>
            <div class="song-description">{{cancion.artista}} - {{cancion.album}}</div>
          </div>
          <div class="col-1">
              <span>3:56</span>
          </div>
        </div>

      </div>
    </div>
  </section>