<section class="container-fluid" *ngFor="let album of DataAlbumes">
    <div class="row" >
      <div class="col-4 text-center">
        <div class="cover-image" [style.backgroundImage]="obtenerURL(album.caratulaAlbum)">
        </div><br>
        <h5 class="text-muted">{{album.nombreAlbum}}</h5>
        <button class="btn btn-success"type="button">Play</button>
      </div>
      <div class="col-8">       
        <!--Item 1 -->
        <div class="row song-item" *ngFor="let cancion of album.canciones">
          <div class="col-1"><i class="fas fa-play"></i></div>
          <div class="col-10">
            <div class="song-title">{{cancion.nombreCancion}}</div>
            <div class="song-description">{{artistaActual}} - {{album.nombreAlbum}}</div>
          </div>
          <div class="col-1">
              <span>{{cancion.duracion}}</span>
              <button (click)="agregarAPlaylist(modalGuardarEnPlaylist, cancion, album.nombreAlbum)" class="btn btn-outline-success btn-sm" title="Agregar a playlist"><i class="fas fa-plus"></i></button>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </section>

  


<!-- Seleccionar PLAYLISTS-->
<ng-template #modalGuardarEnPlaylist let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Guardar canción</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cerro con la X')">

    </button>
  </div>
  <div class="modal-body">
    <select class="form-control" [(ngModel)]="playlistSeleccionado">
    <option> Seleccione una playlist</option>
    <option *ngFor="let playlist of Playlists" [ngValue]="playlist._id">{{playlist.tituloPlaylist}}</option>
  </select>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="guardarCancionPlaylist()">Guardar</button>
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Boton Cerrar')">Cerrar</button>
  </div>
</ng-template>