<nav class="col-md-2 d-none d-md-block bg-dark sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Artists</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
<!-- *ngFor="let artista of ArtistasService.dataartistas" -->
        <li class="nav-item"><div class="nav-link" *ngFor="let artista of ArtistasService.dataartistas" (click)="verArtista(artista._id)">
          <i class="fas fa-music"></i>{{artista.nombreArtista}}</div>
        </li>
        
      </ul>

      <ul class="nav flex-column">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Playlists</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <li class="nav-item"><div class="nav-link" *ngFor="let Playlists of dataPlaylists" (click)="verPlaylist(Playlists)">
          <i class="fas fa-play"></i>{{Playlists.tituloPlaylist}}</div>
        </li>
        
      </ul>
    </div>
  </nav>