<!--  <router-outlet></router-outlet>   -->
<!-- 
//entre parentisis colocamos el evento de salida -->
<!-- onSeleccionarUsuario (con S mayuscula)es el metodo que recibe desde el componente hijo a sidebar
y enviara desde el componente padre al componente hi -->
<app-header (onSeleccionarUsuario)="seleccionarUsuario($event)" (onGuardarPlaylist)="recargarPlaylists($event)"></app-header>

<div class="container-fluid">
  <div class="row">
    <!-- sidebar-->
    <!-- #sidebar es un identificador  -->
    <app-sidebar #sidebar (onVerArtistas)="verArtista($event)" (onVerPlaylists)="verPlaylist($event)"></app-sidebar>
     
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div id="vista-playlist" [ngClass]="{'visible':regionVisible == 'playlists' , 'no-visible':regionVisible!='playlists'}">
        <!--playlists  *ngIf="regionVisible == 'playlists'"-->
        <!-- Para utilizar el identificador @viewchild debemos ubicar en el html padre
        la etiqueta del componente a la cual le enviaremos la informacion -->
        <app-playlist #playlist ></app-playlist>
      </div>

      <!-------------------------*ngIf="regionVisible == 'artistas'" ------>

      <div id="vista-artista" [ngClass]="{'visible':regionVisible == 'artistas' , 'no-visible':regionVisible!='artistas'}" >
        <!--Artistas-Album-->
        <app-album (onAgregarCancion)="recargarPlaylists($event)" #album ></app-album>
        </div><!--vista-artista-->
        
        
    </main>
  </div>
</div>
